<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Asteroids</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineLeft</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>170</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>190</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>210</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineRight</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>130</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>90</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
